# Python
__pycache__/
*.py[cod]
*.egg-info/
*.so
*.dylib
*.pyd
build/
dist/
.python-version

# Virtual environments
.venv/

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
